{% extends 'core/layout.html' %}

{% load static %}

{% block content %}
<style>
    .generic-button-fill,
        .generic-button:hover {
            background-color: #084a9f;
            width: 240px;
            padding: 10px 2px;
            justify-content: center;
            color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 50px;
            font-size: .9rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .rounded-button-fill,
        .rounded-button:hover{
            background-color: #084a9f;
            padding: 10px;
            justify-content: center;
            color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            width: 40px;
            height: 40px;
        }

        .generic-button,
        .generic-button-fill:hover {
            background-color: #ffffff;
            width: 240px;
            padding: 10px 2px;
            justify-content: center;
            color: #084a9f;
            border: 1px solid #084a9f;
            border-radius: 50px;
            font-size: .9rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .generic-button-fill:hover {
            font-weight: 600;
            transition: scale 0.3s ease-in;
            scale: 1.05;
        }

        .generic-button:hover {
            font-weight: 600;
            transition: scale 0.3s ease-in;
            scale: 1.05;
        }

        .rounded-button{
            background-color: #ffffff;
            padding: 10px;
            justify-content: center;
            color: #084a9f;
            border: 1px solid #084a9f;
            border-radius: 50px;
            display: flex;
            align-items: center;
            width: 40px;
            height: 40px;
        }

        .add-new-category{
            position: absolute;
            bottom: 48px;
            right: 48px;
            width: 64px;
            height: 64px;
        }

        input,
        select {
            border-radius: 60px; 
            padding: 0.5rem;
            width: 100%;
            border: 2px solid rgba(0, 0, 0, 0.082);
            font-size: 0.9rem;
            color: rgba(0, 0, 0, 0.479);
            font-weight: 400;
        }
        
        option {
            font-size: 0.9rem;
        }

        label {
            font-size: 0.9rem;
            font-weight: 600;
        }

        .modal-content {
            border-radius: 25px;
            width: 400px;
            height: 530px;
        }

        .modal-body .row .col, 
        .modal-body .row {
            padding: 0.1rem;
        }

    
</style>
<div class="ms-4 mt-4">
    <h2 id="user-greeting">Categories</h2>
    <div style="margin-right: 2%; display: flex; justify-content: center;">
        <div class="row" style="width: 60%;">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link active" id="income-tab" data-bs-toggle="tab" data-bs-target="#income-tab-pane" type="button" role="tab" aria-controls="income-tab-pane" aria-selected="true">Income</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="expense-tab" data-bs-toggle="tab" data-bs-target="#expense-tab-pane" type="button" role="tab" aria-controls="expense-tab-pane" aria-selected="false">Expense</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="investment-tab" data-bs-toggle="tab" data-bs-target="#invesment-tab-pane" type="button" role="tab" aria-controls="investment-tab-pane" aria-selected="false">Investment</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="income-tab-pane" role="tabpanel" aria-labelledby="income-tab" tabindex="0">
                    <div class="card border-0">
                        <ul class="list-group list-group-flush">
                            {% for category in income_categories %}
                                <li class="list-group-item">
                                    <img src="{% static 'images/logo.png' %}" alt="{{ category.name|lower } -category" style="width: 48px;">
                                    {{ category.name }}
                                </li>
                            {% empty %}
                                <li class="list-group-item">No expense categories yet.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button class="rounded-button-fill add-new-category" data-bs-toggle="modal" data-bs-target="#budget-modal" style="position: absolute; bottom: 48px; right: 48px; width: 64px; height: 64px; background-color: rgb(0, 170, 23);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
                <div class="tab-pane fade" id="expense-tab-pane" role="tabpanel" aria-labelledby="expense-tab" tabindex="0">
                    <div class="card border-0">
                        <ul class="list-group list-group-flush">
                            {% for category in expense_categories %}
                                <li class="list-group-item">
                                    <img src="{% static 'images/logo.png' %}" alt="{{ category.name|lower }} category" style="width: 48px;">
                                    {{ category.name }}
                                </li>
                            {% empty %}
                                <li class="list-group-item">No expense categories yet.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button class="rounded-button-fill add-new-category" data-bs-toggle="modal" data-bs-target="#budget-modal" style="position: absolute; bottom: 48px; right: 48px; width: 64px; height: 64px; background-color: red;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
                <div class="tab-pane fade" id="investment-tab-pane" role="tabpanel" aria-labelledby="investment-tab" tabindex="0">
                    <div class="card border-0">
                        <ul class="list-group list-group-flush">
                            {% for category in investment_categories %}
                                <li class="list-group-item">
                                    <img src="{% static 'images/logo.png' %}" alt="{{ category.name|lower }} category" style="width: 48px;">
                                    {{ category.name }}
                                </li>
                            {% empty %}
                                <li class="list-group-item">No investment categories yet.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button class="rounded-button-fill add-new-category" data-bs-toggle="modal" data-bs-target="#budget-modal" style="position: absolute; bottom: 48px; right: 48px; width: 64px; height: 64px; background-color: rgb(0, 119, 255);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
            </div>
        
        <!-- ADD NEW CATEGORY -->

        
        </div>
    </div>
</div>


<!-- <div class="modal fade show" id="budget-modal" tabindex="-1" aria-labelledby="budgetModalLabel" aria-hidden="true" aria-modal="true" role="dialog" style="display: block;"> -->
<div class="modal fade" id="budget-modal" tabindex="-1" aria-labelledby="budgetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: flex; justify-content: space-between;">
                <h1 class="modal-title fs-5" id="addTransactionModalLabel">Adding a new category</h1>
                <button type="button" class="rounded-button" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row" style="display: flex; flex-wrap:wrap; margin-bottom: 10px;">
                        <div class="col">
                            <label for="method">Name</label>
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="row" style="display: flex; flex-wrap:wrap; margin-bottom: 10px;">
                        <div class="col">
                            <label for="method">Type</label>
                            {{ form.type }}
                        </div>
                    </div>
                    <div class="modal-footer row" style="display: flex; justify-content: center;">
                        <button type="button" class="btn generic-button" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn generic-button-fill">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}